* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'MuseoModerno', cursive; */
    /* font-family: 'Space Mono', monospace; */
}