* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    /* border: 2px solid red; */
}

.hero-head {
    background-image: url(../mavdavis-img/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-paragraph {
    color: black;
}

.left-section {
    width: 80%;
    margin: 0 auto;
}
