*{
    padding: 0%;
    margin: 0%;
}

.red-col{
    color: #B91869;
}

.white-col{
    color: #FFFFFF;
}

.text-light{
    font-weight: 300;
}

.museo{
    font-family: 'Museo';
}

.down img,
.down-1 img,
.down-2 img{
    width:  auto;
    height: 20% ;
    margin-bottom: 1%;
}

.pi{
    background-color: rgb(54, 6, 6);
}

.img-circ{
    justify-content: right;
}

.gallery-section-7{
    background-color:#B91869;
    overflow: hidden;
}

.rea{
    position: relative;
}

.bg-wh{
    background-color: #FFFFFF;
}

.bg-blc{
    background-color: #181F2B;
}

hr{
    height: 2px !important;
}

.brochure{
    background-color:  #8c0c4c;
}
.mbb{
    margin-top: -1% !important;
}

.b1{
    background-image: url('../paul-img/m-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.b2{
    background-image: url('../paul-img/m-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.b3{
    background-image: url('../paul-img/m-3.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.container2{
    width: 95% !important;
    max-width: 98% !important;
    justify-content: center !important;
}

.mtt{
    margin-top: 0.6% !important;
    margin-left: 3% !important;
}

.w-80{
    width: 80% !important;
}

.h-35{
    height: 25% !important;
}

.hh{
    max-height: 3% !important;
}

.ppp{
    padding-top: 60% !important;
    padding-left: 50% !important;
}

img:hover{
    padding: 0.02% !important;
    opacity: 0.79;
    transition: 0.8s;
    cursor: pointer;
}

.rotate{
    transform: rotate(-90deg);
}

.long{
    height: 100px;
}

.chan{
    position: absolute;
    top: 27.8% !important;
    width: 100%;
    height: 0px;
    left: 68% !important;
}

.brochure #bom img{
    width: auto !important;
    height: 38px;
}

.brochure h3{
    font-size: 28px;
}

.w-20{
    width: 19% !important;
    margin-top: -0.2% !important;
}

.col-md-44{
    width: 30.7%;
    justify-content: center;
}

@media screen and (max-width: 1440px) {
    .chan{
        position: absolute;
        top: 34.8%;
        width: 100%;
        height: 0px;
        left: 55% !important;
    }
    .brochure #bom img{
        width: auto !important;
        height: 38px;
    }
    
    .brochure h3{
        font-size: 28px;
    }

    .chan h6{
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px){
    .chan{
        position: absolute;
        top: 34.8%;
        width: 100%;
        height: 0px;
        left: 53.8% !important;
    }
    .chan h6{
        font-size: 13px;
    }

    .ppp {
        padding-top: 60% !important;
        padding-left: 40% !important;
        flex-direction: row!important;
    }

    .col-md-44{
        width: 31.7%;
    }
}


@media screen and (max-width: 768px) {
    .chan{
        position: absolute;
        top: 34.8%;
        width: 100%;
        height: 0px;
        left: 54.3% !important;
    }
    .chan h6{
        font-size: 11.5px;
    }

    .col-md-44{
        width: 32%;
    }
}

@media screen and (max-width: 425px){
    .brochure #bom img{
        width: auto !important;
        height: 32px;
        justify-content: center;
    }
    
    .brochure .d h3{
        font-size: 16px !important;
        width: 65%;
        text-align: center !important;
    }

    .col-md-44{
        width: 100% !important;
    }

    .brochure .d h5{
        font-size: 16px !important;
        width: 50%;
        text-align: center !important;
    }
}


