* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'MuseoModerno', cursive; */
    /* font-family: 'Space Mono', monospace; */
}

.firstview {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.447), rgba(0, 0, 0, 0.488)), url(/img/Mask-Group.png);
    height: 95vh;
}

.logo-text h4, .logo-text p {
    font-size: 14px;
    line-height: 15px;
}

.section-2-img {
    width: 55%;
    margin: auto;
    text-align: right;
}
.firstview h2 {
    color: #B91869 !important;;
}
