/*---- default settings ----*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid red;
    
}

.text-size {
    font-size: 12px !important;
}

.text-color {
    color: #fff;
}

#contact-section {
    background: linear-gradient(45deg, #329472 -0.07%, #45CB9C 100.08%);
}

.progress {
    background-color: rgba(245, 245, 245, 0.562) !important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background: rgba(245, 245, 245, 0.295);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
    color: #fff;
}

textarea {
    width: 100%;
    padding: 20px 20px 0;
}

.send-form a:hover {
    color: #45CB9C;
    background-color: #fff;
    transition: all ease-in-out 0.5s;
}

.service-content a:hover {
    color: #ff0080;
}

